@charset "UTF-8";
*{margin:0; user-select: none; font-family: "맑은 고딕";}
		
#background {
	z-index: 0;
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	
	display: block;
	background: url("img/bf4bg2.jpg") no-repeat;
	background-size: 100%;
	
	filter: blur(0.1vh);
}

#content {
	z-index: 1;
}